#h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

#first_h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

#second_h2 {
    font-family:'Times New Roman', Times, serif;
    color:red
}

#third_h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}

.paragraph {
    font-size: large;
    font-family: monospace;
    box-shadow: 2px 2px 5px black;
}